<a href="https://colab.research.google.com/github/jazz777/code_lesson/blob/master/numpy_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
a=pd.Series([1,2,3,4,5,6,7,8,9])
a

In [0]:
a[0]

In [0]:
a[0:8]

In [0]:
a.sum()
a.mean()

In [0]:
#不思議なこと、なんで、列単位で初期化すんの？
#どう考えても、行単位でしょう？と思うのだが
#  Name Country sex age favorite
# 0   Ann      US   F  19      ice こういう単位が普通じゃね？
#　
col1=np.array(['Ann','Bob','Cacy'])
col2=np.array(['US','EN','US'])
col3=np.array(['F','M','F'])
col4=np.array(['19','32','11'])
col5=np.array(['ice','choco','mcd'])
df=pd.DataFrame({'Name':col1,'Country':col2,'sex':col3,'age':col4,'favorite':col5})
print(df)

In [0]:
print(df['Name'])

In [0]:
print(df.iloc[1]) #横にならんのか？

In [0]:
df.describe()

In [0]:
a+10

In [0]:
df*10

In [0]:
#ライブラリのインポート

from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.datasets import load_iris
import pandas as pd
%matplotlib inline
plt.style.use('ggplot')

In [0]:
#csvの作成
str="""
name,sex,job,country,sallary
1,2,3,4,5
6,7,8,9,10
11,12,13,14,15
16,17,18,19,20
"""

In [0]:
#csvファイルの作成

with open('hoge','w') as f:
  f.write(str)

In [0]:
#dataframe の作成

import pandas as pd
df=pd.read_csv('hoge')
print(df)

In [0]:
df.describe()

In [0]:
#グラフ化（ヒストグラム）

#タイトル、ラベルの作成
plt.xlabel('a')
plt.ylabel('')
plt.title('country')

#グラフ化
plt.hist(df['country'])
plt.show()

In [0]:
df['sex']

上はpandos

下はnumpy

In [0]:
import numpy as np
b=np.array([1,2,3,4,5,6,7,8,9])
b

In [0]:
b[0]